/**
 * url, position写在一起的情况
 */
.icon_x_a {
    background-image: url('img/a.png?m=x');
    background-position: 10px 0px;
}

.icon_y_b {
    background-image: url('img/b.png?m=y');
    background-position: 10px -2px;
}

/**
 * background
 */
.icon_z_c1 {
    background: 10px -12px url('img/c1.png?m=z');
}

.icon_z_c2 {
    background: url('img/c2.png?m=z') 10px -12px ;
}
/**
 * 不带query的情况
 */
.icon_x_empty {
    background-image: url('img/empty.jpeg');
}

