.thunderbird{
    background:;
    width: 256px;
    height: 256px;}.yahoo{
    background:;
    width: 256px;
    height: 256px;}.thunderbird{background-position:0px 0px}.yahoo{background-position:0px -256px}.thunderbird,.yahoo{background-image: url(/aio_x.png)}