.firefox-size {
    background: url('./img/Firefox.png?__sprite') no-repeat;
    width: 128px;
    height: 128px;
    display: inline-block;
    /*background-size: 128px 128px;*/
}

.chrome-size {
    background: url('./img/Chrome.png?__sprite') no-repeat;
    width: 128px;
    height: 128px;
    display: inline-block;
    /*background-size: 128px 128px;*/
}

.facebook-size {
    background: url('./img/Facebook.png?__sprite') no-repeat;
    width: 128px;
    height: 128px;
    display: inline-block;
    /*background-size: 128px 128px;*/
}