.firefox {
    background: url('./img/Firefox.png?__sprite') no-repeat;
    width: 256px;
    height: 256px;
    display: inline-block;
}

.chrome {
    background: url('./img/Chrome.png?__sprite') no-repeat;
    width: 256px;
    height: 256px;
    display: inline-block;
}

.facebook {
    background: url('./img/Facebook.png?__sprite') no-repeat;
    width: 256px;
    height: 256px;
    display: inline-block;
}

.facebook-right {
    background: url('./img/Facebook.png?__sprite') no-repeat right top;
    width: 500px;
    height: 256px;
    display: inline-block;
}