.box_y {
    width: 400px;
    height: 200px;
    background-image: url(./img/background-y.jpg?__sprite);
    background-repeat: repeat-y;
}

.box_y_small {
    height: 200px;
    background: url('./img/background-small.jpg?__sprite') repeat-y;
}