#a {
    background: url(img/Chrome.png?m=x);
}

#b {
    background: url(img/Facebook.png?m=x);
}

#c {
    background: url(img/Facebook.png?m=x);
}

#d {
    background: url(img/Facebook.png?m=y);
}

#f {
    background: url(img/Facebook.png?m=y);
}

#e {
    background: url(img/Facebook.png?m=z);
}

#h {
    background: url(img/Facebook.png?m=z);
}

#hh {
    background: url(img/awk.png?m=x);
}