#a {
    background: url(img/Chrome.png?__sprites);
}

#b {
    background: url(img/Facebook.png?__sprites);
}

#c {
    background: url(img/Facebook.png?__sprites);
}

#d {
    background: url(img/Facebook.png?__sprites);
}

#f {
    background: url(img/Facebook.png?__sprites);
}

#e {
    background: url(img/Facebook.png?__sprites);
}

#h {
    background: url(img/Facebook.png?__sprites);
}

#hh {
    background: url(img/awk.png?__sprites);
}